<footer class="page-footer font-small bg-transparent pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark">Me encontre aqui: </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="iconFacebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="iconInstagram">
                            <i class="fab fa-instagram-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/patricia-machado-0ba0111ba/" target="_blank" class="iconLinkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                
            </div>


        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-white-50"> © 2021 Copyright: Patricia Machado </span>
    </div>

</footer>