<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-4 mb-3">

            <div class="row-d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center mb-3 align= text-right">Cadastro</h1>

                    <div class="form-group ">
                        <label for="usuario">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeboholder="Digite seu nome">
                    </div>
                    <div class="form-group">
                        <label for="senha">Usuario</label>
                        <input class="form-control" type="text" name="usuario" id="usuario"
                            placeboholder="Digite o nome do usuario">
                    </div>
                    <div class="form-group">
                        <label for="foto">Link da Foto</label>
                        <input class="form-control" type="text" name="foto" id="foto" placeboholder="Link da sua foto">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeboholder="Sua senha">
                    </div>
                    <div class="form-group">
                        <label for="confirSenha">Confirme sua senha</label>
                        <input class="form-control" type="password" name="confirSenha" id="confirSenha"
                            placeboholder="Confirme sua senha">
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo de Usuário</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Selecione um tipo de usuário: </option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>

                    </div>

                </div>
            </div>

        </div>


    </div>


</div>