#img-bg{
    background-image: url(https://i.imgur.com/z3z1aLN.gif);

    min-height: 550px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-md-6 {
    flex: 200 20 50%;
    max-width: 65%;
}

